:root {
  --secondary: #730046;
  --bg-grey: rgba(225, 225, 225, 0.603);
  --h-sec: #5a0038;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.profile {
  min-height: 100vh;
  display: flow-root;
  align-items: center;
  justify-content: center;
  background-image: url("../img/rumah/bg-profile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.container {
  background-color: #ffffff;
  max-width: 500px;
  margin: 10rem auto;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.profile-header {
  background-color: #5a0038;
  border-radius: 10px 10px 0 0;
  /* color: var(--secondary); */
  text-align: center;
  padding: 1rem;
}

.profile-header h1 {
  font-size: 2rem;
  margin: 0.5rem 0;
  color: white;
}

.profile-header p {
  font-size: 1rem;
}

.profile-details {
  padding: 2rem;
}

.profile-details h2 {
  font-size: 1.5rem;
  border-bottom: 2px solid var(--primary);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.profile-details .info {
  margin-bottom: 1rem;
}

.profile-details .info strong {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

/* .btn-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.btn-container a {
  text-decoration: none;
  background-color: var(--primary);
  color: var(--secondary);
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  margin: 0 0.5rem;
  transition: background 0.5s ease;
}

.btn-container a:hover {
  background-color: var(--secondary);
  color: #ffffff;
} */

.btn-logout {
  text-align: center;
  margin-bottom: 1rem;
}

button {
  background: none;
  background-color: var(--secondary);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: var(--h-sec);
}
