:root {
  --secondary: #730046;
  --bg-grey: rgba(225, 225, 225, 0.603);
  --h-sec: #5a0038;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 3%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border-bottom: 2px solid var(--secondary);
  height: 5rem;
  background-color: white;
}

.navbar .logo {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  transition: 0.5s;
}

.navbar .logo img {
  width: 12rem;
  margin: 0;
}

.navbar .logo:hover {
  background-color: var(--bg-grey);
}

.navbar .navbar-nav a {
  display: inline-block;
  font-size: 1.5rem;
  color: black;
  margin: 0 1rem;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  border-bottom: 0.15rem solid var(--secondary);
  padding-bottom: 0.3rem;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.3);
}

.navbar .navbar-extra {
  display: flex;
  align-items: center;
  height: 5rem;
}

.navbar .navbar-extra .user {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  transition: 0.2s;
}

.navbar .navbar-extra .user img {
  height: 1.8rem;
  width: 1.8rem;
}

.navbar .navbar-extra .user:hover {
  background-color: var(--bg-grey);
  border-radius: 50%;
}

.navbar .navbar-extra .contact {
  display: flex;
  align-items: center;
  background-color: var(--secondary);
  height: 98%;
  padding: 0 1.5rem;
  margin-left: 1rem;
  transition: 0.3s;
}

.navbar .contact a {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: white;
}

.navbar .contact a img {
  margin-right: 1rem;
  height: 1.5rem;
}

.navbar .contact:hover {
  background-color: var(--h-sec);
}

.navbar .account-box {
  position: absolute;
  top: 110%;
  right: 13%;
  background-color: white;
  width: 10rem;
  height: 5.4rem;
  display: none;
  justify-content: space-evenly;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  animation: animateBoxDown 0.5s;
}

.navbar .account-box.active {
  display: flex;
}

@keyframes animateBoxDown {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 1;
    opacity: 1;
  }
}

.navbar .account-box .profile,
.navbar .account-box .logout {
  text-align: center;
  padding: 0.5rem 0;
}

.navbar .account-box .btn-profile {
  font-size: 1rem;
  padding: 0.5rem;
  transition: 0.3s;
}

.navbar .account-box .btn-logout {
  background-color: var(--secondary);
  font-size: 1rem;
  padding: 0.5rem;
  transition: 0.3s;
  border-radius: 0 0 0.5rem 0.5rem;
}

.navbar .account-box .btn-profile:hover {
  transition: 0.3s;
  background-color: var(--bg-grey);
}

.navbar .account-box .btn-logout:hover {
  background-color: var(--h-sec);
  transition: 0.3s;
}

.navbar .account-box .btn-profile a {
  color: black;
}
.navbar .account-box .btn-logout button {
  color: white;
  font-size: 1rem;
  background: none;
  cursor: pointer;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/rumah/house.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 3rem;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero .content {
  background-color: rgba(255, 255, 255, 0.665);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30rem;
  padding: 1rem;
  border-radius: 2rem;
  z-index: 1;
}

.hero .content img {
  height: 12rem;
  width: 12rem;
}

.hero .content h1 {
  font-size: 2.5rem;
  padding: 1rem 0;
}

.hero .content p {
  font-size: 1.2rem;
}

/* Alasan, Tipe */
.alasan,
.tipe,
.spek {
  padding: 7rem 5% 0;
}

.alasan h1,
.tipe h1,
.spek h1,
.loc h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

.alasan h1::after,
.tipe h1::after,
.spek h1::after,
.loc h1::after {
  content: "";
  display: block;
  border-bottom: 0.3rem solid var(--secondary);
  padding-bottom: 1rem;
  transform: scaleX(0.05);
  transition: 0.2s linear;
}

/* Alasan Section */
.alasan .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  gap: 1.5rem;
}

.alasan .row .card {
  background-color: var(--secondary);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
}

.alasan .row .card img {
  padding-bottom: 0.5rem;
}

.alasan .row .card h3 {
  padding-bottom: 0.3rem;
}

/* Tipe Section */
.tipe .row {
  display: flex;
  margin-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 2px solid var(--secondary);
}

.tipe .row:last-child {
  border-bottom: none;
}

.tipe .row .tipe-img {
  flex: 1 1 30rem;
}

.tipe .row .tipe-img img {
  width: 100%;
  padding: 0 0 0 10rem;
}

.tipe .row .tipe-content {
  flex: 1 1 30rem;
  margin: 2rem;
  margin-top: 0;
  padding-right: 5rem;
}

.tipe .row .tipe-content h3 {
  font-size: 2rem;
}

.tipe .row .tipe-content p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.tipe .row .tipe-content .fasilitas {
  margin: 0 1rem;
}

/* .tipe .row .tipe-content .more-wrap {
  text-align: center;
  display: flex;
}

.tipe .row .tipe-content .more {
  background-color: var(--secondary);
  color: white;
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
}
.tipe .row .tipe-content .more:hover {
  background-color: var(--h-sec);
} */

/* Spek Section */
.spek .desc {
  font-size: 1.2rem;
  text-align: center;
}

.spek .row {
  display: flex;
}

.spek .row .left,
.spek .row .right {
  flex: 1 1 30rem;
  padding: 2rem;
}

.spek .row h3 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.spek .row p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

/* Location Section Start */
.loc {
  padding: 7rem 10%;
}

.loc .row {
  display: flex;
  align-items: center;
}

.loc .row .map {
  display: flex;
  flex: 1 1 30rem;
  justify-content: center;
  align-items: center;
}

.loc .row .info {
  flex: 1 1 20rem;
  align-items: center;
}

.loc .row .info h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.loc .row .info .alamat,
.loc .row .info .kontak {
  display: flex;
}

.loc .row .info p,
.loc .row .info p {
  font-size: 1.2rem;
  margin: 1.5rem 1rem;
}

footer {
  background-color: var(--secondary);
}

footer .content {
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 2rem 1%;
}

footer .desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
}

footer .desc img {
  height: 6rem;
}

footer .desc p {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1.5rem;
}

footer .contact h5,
footer .social h5 {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

footer .contact a {
  color: white;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: 0.5rem;
  padding: 0.5rem;
}

footer .contact a:hover,
footer .social p:hover {
  background-color: var(--h-sec);
  border-radius: 0.5rem;
}

footer .social .icon {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

footer .social .icon a {
  display: flex;
  align-items: center;
  padding: 0.3rem;
}

footer .social .icon a:hover {
  background-color: var(--h-sec);
  border-radius: 0.5rem;
}

footer .social p {
  color: white;
  text-align: center;
  margin-top: 5rem;
  padding: 0.5rem;
}

footer .credit {
  text-align: center;
  color: white;
  padding: 0.7rem 0;
}
